* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 15px;
}

/* BAR STYLING */

window#waybar {
    background-color: transparent;
    color: #ffffff;
    border: none;
    transition-property: background-color;
    transition-duration: .5s;
}

/* MODULES STYLING */

.modules-left, .modules-center, .modules-right {
    background-color: rgba(255, 0, 0, 0);
    /* border: 2px solid #89dceb; */
    border-radius: 18px;
    padding: 0.3rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/*WORKSPACE STYLING*/

#workspaces button {
    padding: 0rem 0.3rem;
    border-radius: 15px;
    background-color: transparent;
    color: #2872B1;
}

#workspaces button:hover {
    background-color: transparent;
    color: #E4C068 ;
}

#workspaces button.focused {
    background-color: #7d6464;
    box-shadow: inset 0 0 transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* NOTIFICATION MODULE */

#custom-notifications {
    background-color: transparent;
    color: #2872B1;
    padding:0 5px;
    border-radius: 15px;
}

#custom-notifications:hover {
    background-color: transparent;
    color: #E4C068;
}

/* CLOCK MODULE */

#clock {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#clock:hover {
    background-color: transparent;
    color: #E4C068;
}

/* VOLUME MODULE */

#pulseaudio.output {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#pulseaudio.output:hover {
    background-color: transparent;
    color: #E4C068;
}

#pulseaudio.output.muted {
    background-color: transparent;
    color:#2a5c45;
}

/* MIC MODULE */

#pulseaudio.input {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#pulseaudio.input:hover {
    background-color: transparent;
    color: #E4C068;
}

#pulseaudio.input.source-muted {
    background-color: transparent;
    color: #2a5c45;
}

/* BRIGHTNESS MODULE */

#backlight {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#backlight:hover {
    background-color: transparent;
    color:#E4C068;
}

/* NETWORK MODULE*/

#network {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#network:hover {
    background-color: transparent;
    color:#E4C068;
}

/* BATTERY MODULE */

#battery {
    background-color: transparent;
    color: #2872B1;
    padding: 0 5px;
    border-radius: 15px;
}

#battery:hover {
    background-color: transparent;
    color:#E4C068;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: #26A65B;
}

#battery.charging:hover, #battery.plugged:hover {
    background-color: transparent;
    color:#E4C068;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* POWER BUTTON MODULE */

#custom-power {
    background-color: transparent;
    color: #2872B1;
    padding: 0 6px;
    border-radius: 15px;
}

#custom-power:hover {
    background-color: transparent;
    color:#E4C068;
}

/* TOOLTIP CUSTOMIZATION */

tooltip {
    /* color: #E4C068; */
    background-color: rgba(30, 30, 46, 0.229);
    border: none;
    margin-top: 15px;
    /* border-radius: 6px;
    text-shadow: none; */
  }
  
  tooltip * {
    text-shadow: none;
    color: #E4C068;
    background-color: rgba(30, 30, 46, 0.229);
    border: none;
    border-radius: 6px;
    /* margin-top: 5px; */
  }

/* #mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
} */

/* #power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
} */

/* #cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
} */

/* #wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
} */